/* shared styles  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

.section-title {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.red-text {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
}

.normal-text {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
}

.section-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

button {
    color: #FFF;
    border-radius: 8px;
    background-color: #F00;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(173, 3, 3);
}



/* header styles  */
.banner {
    margin-top: 50px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/BannerImage.png');
    width: 1320px;
    height: 600px;
    text-align: center;
}

.banner-text {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding-top: 200px;
}

.banner-title {
    max-width: 632px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin: 0 auto;
}

/* section styles  */

/* deals section style */
.deals {
    margin-top: 120px;
    background-color: #FFF;
    text-align: center;
}

.deal-value {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
}


.deals img {
    margin-top: 48px;
    width: 802.9px;
    height: 500px;
    margin-bottom: 120px;
}

/* welcome style section  */

.welcome-2024 {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 130px;
    margin-bottom: 120px;
    border-radius: 16px;
}

.welcome-text {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    padding-bottom: 24px;
}

.section-text-welcome {
    max-width: 697px;
    ;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
}

.welcome-join {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 48px;
    padding-left: 32px;
    cursor: pointer;
}

/* party venue detail styles  */

#venue {
    margin-bottom: 120px;
}

.venue-detail {
    background-color: rgba(255, 0, 0, 0.10);
}

.venue-timing {
    margin-bottom: 48px;
}

.venue-timing h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
}

.venue-text-color {
    color: #F00;
}

.venue-join {
    text-align: center;
}

/* new year section offer styles  */

#offers {
    margin-bottom: 120px;
}

.offer-description {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.coming-soon .section-title {
    padding-bottom: 22px;
}

.coming-soon .section-text {
    max-width: 393px;
    margin: 0 auto;
}

.offer-img {
    text-align: center;
    padding: 50px;
    border-radius: 463px;
    border: 15px solid #F00;
}

.offer-text {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
    text-align: center;
}

.offer-message .section-text {
    max-width: 276px;
    margin: 0 auto;
}

.happy-new-year-img {
    padding-top: 43px;
}

/* sales style section  */

.discounted-sale .section-text {
    max-width: 1068px;
    margin: 0 auto;
}

.holiday-sale-text {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    padding-bottom: 28px;
}

.sales-percentage {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.gift-women {
    width: 429px;
    height: 433px;
    margin-bottom: 220px;
    border-radius: 16px 16px 0px 0px;
    position: relative;
}

.discount {
    position: absolute;
    left: 55%;
}




/* portfoloio style section  */
#portfolio {
    margin-top: 120px;
    background-color: #FFF;
    margin-bottom: 120px;
}

.gift-lists .red-text {
    text-align: start;
}

.gift-lists .section-title {
    text-align: start;
    padding-bottom: 24px;
}

.gift-lists .section-text {
    max-width: 896px;
}

.gift-images {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 24px;
}

.gift-img {
    border-radius: 16px;
    opacity: 0.75;
    transition: opacity .55s ease-in-out;
}

.gift-img:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
}

/* subscribe styles  */

#subscribe {
    margin-bottom: 120px;
}

.subscribe-container {
    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding-bottom: 40px;
}

.subscribe-text {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 48px;
}

.subscribe-container .section-text {
    max-width: 896px;
    margin: 0 auto;
    padding-bottom: 48px;
}

#subscribe-email {
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
    border: none;
    outline: none;
}

.subscribe-input {
    text-align: center;
}

#subscribe-button {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-left: -5px;
    cursor: pointer;
}

#subscribe-button:hover {
    background-color: rgb(173, 3, 3);
}

/* footer section styles  */


footer {
    width: 100%;
    height: 609px;
    background-color: #070211;
}

.footer-text {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

.contact-info {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

.hr-text {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.15);
}

.social-medias {
    text-align: center;
}

.social-medias img {
    padding-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
}

.security {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}