/* shared styles  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

.section-title {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}



/* header styles  */
.banner {
    margin-top: 50px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/BannerImage.png');
    width: 1320px;
    height: 600px;
    text-align: center;
}

.banner-text {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding-top: 200px;
}

.banner-title {
    max-width: 632px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin: 0 auto;
}

/* section styles  */

/* deals section style */
.deals {
    margin-top: 120px;
    background-color: #FFF;
    text-align: center;
}

.deal-value {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
}

.deal-text {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}

.deals img {
    margin-top: 48px;
    width: 802.9px;
    height: 500px;
    margin-bottom: 120px;
}

/* welcome style section  */

.welcome-2024 {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 130px;
    margin-bottom: 120px;
    border-radius: 16px;
}

.welcome-text {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    padding-bottom: 24px;
}

.section-text-welcome {
    max-width: 697px;
    ;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
}

.welcome-join {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 48px;
    padding-left: 32px;
    cursor: pointer;
}